<div class="container">
    <img src="/assets/img/burger_img.png" alt="Burger!"class="mx-auto d-block my-3" id="picSize">
</div>
<h1 class="text-center my-3 font-weight-bold">Eat-Da-Burger</h1>
<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Burgers to DEVOUR</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {{#each burgers}}
                                {{#unless devoured}}
                                    {{> burgers/burger-block devour=true}}
                                {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Burgers DEVOURED</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {{#each burgers}}
                                {{#if devoured}}
                                    {{> burgers/burger-block devour=false}}
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center">
          <h2>Place Order!</h2>   
          <form class="create-form">
            <div class="form-group">
                <input type="text" id="burger" name="burger_name" placeholder="Burger Name">
            </div>
            <button type="submit" class="btn btn-primary btn-lg" id="submitBtn">Submit</button>
            <h3 class="mt-2">Enter A Burger You Want To Eat, Then Click The "Submit" Button</h3>
          </form>
        </div>
      </div>
      <footer class="mt-2 text-center">
          <h4>GitHub Repository at: <a href="https://github.com/AJFree458/opus13_MVC-Burger">opus13_MVC-Burger</a></h4>
      </footer>
</div>


<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>