<li class="list-group-item d-flex justify-content-between mr-1">
    
    <p class="p-0 m-0 flex-grow-1">{{burger_name}}</p>
    <button class="btn btn-primary change-devour" data-id="{{id}}" data-burgerdevoured="{{devour}}">
        {{#if devour}}DEVOUR IT!{{else}}Eat Again{{/if}}
    </button>
</li>